.header {
    display: flex;
    justify-content: space-between;
}

.icons {
    width: 30px;
    height: 30px;
}

.title {
    font-size: 60px;
    margin-top: -80px;
}

.containers {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

.gameBox {
    width: 50%;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 200px;
    height: 100px;
}

.hidden {
    display: none;
}