body {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-family: 'Games', sans-serif;
}

.logo {
    width: 50px;
    height: 30px;
}

.icons {
    width: 30px;
    height: 30px;
}

#canvas {
    background-color: #3e3d40;
    border: 2px solid #333;
    border-radius: 10px;
}

#stats {
    position: absolute
}

.play {
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    background-color: #adb5bd;
    text-shadow: -1px -1px black, 1px 1px white;
    color: #3e3d40;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em #3e3d40;
    cursor: pointer;
    font-size: 3vh;

}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: red;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}


#soundCheckbox:checked+.checkbox-label {
    background-color: green;
}

#themeCheckbox:checked+.checkbox-label {
    background-color: green;
}

body.dark {
    background-color: #3e3d40;
}


@media screen and (min-width: 0px) and (min-height: 0px) {
    #tetris {
        font-size: 0.75em;
        width: 250px;
    }

    #menu {
        width: 100px;
        height: 200px;
    }

    #upcoming {
        width: 50px;
        height: 50px;
    }

    #canvas {
        width: 100px;
        height: 200px;
    }
}

/* 10px chunks */
@media screen and (min-width: 400px) and (min-height: 400px) {
    #tetris {
        font-size: 1.00em;
        width: 350px;
    }

    #menu {
        width: 150px;
        height: 300px;
    }

    #upcoming {
        width: 75px;
        height: 75px;
    }

    #canvas {
        width: 150px;
        height: 300px;
    }
}

/* 15px chunks */
@media screen and (min-width: 500px) and (min-height: 500px) {
    #tetris {
        font-size: 1.25em;
        width: 450px;
    }

    #menu {
        width: 200px;
        height: 400px;
    }

    #upcoming {
        width: 100px;
        height: 100px;
    }

    #canvas {
        width: 200px;
        height: 400px;
    }
}

/* 20px chunks */
@media screen and (min-width: 600px) and (min-height: 600px) {
    #tetris {
        font-size: 1.50em;
        width: 550px;
    }

    #menu {
        width: 250px;
        height: 500px;
    }

    #upcoming {
        width: 125px;
        height: 125px;
    }

    #canvas {
        width: 250px;
        height: 500px;
    }
}

/* 25px chunks */
@media screen and (min-width: 700px) and (min-height: 700px) {
    #tetris {
        font-size: 1.75em;
        width: 650px;
    }

    #menu {
        width: 300px;
        height: 600px;
    }

    #upcoming {
        width: 150px;
        height: 150px;
    }

    #canvas {
        width: 300px;
        height: 600px;
    }
}

/* 30px chunks */
@media screen and (min-width: 800px) and (min-height: 800px) {
    #tetris {
        font-size: 2.00em;
        width: 750px;
    }

    #menu {
        width: 350px;
        height: 700px;
    }

    #upcoming {
        width: 175px;
        height: 175px;
    }

    #canvas {
        width: 350px;
        height: 700px;
    }
}

/* 35px chunks */
@media screen and (min-width: 900px) and (min-height: 900px) {
    #tetris {
        font-size: 2.25em;
        width: 850px;
    }

    #menu {
        width: 400px;
        height: 800px;
    }

    #upcoming {
        width: 200px;
        height: 200px;
    }

    #canvas {
        width: 400px;
        height: 800px;
    }
}