@import url('https://fonts.cdnfonts.com/css/games');

body {
    background-color: #ddc8ea;
}

h1 {
    font-family: 'Games', sans-serif;
}

header {
    border-bottom: 5px solid #080942;
}

.title {
    font-family: 'Games', sans-serif;
    color: #080942;
    font-size: 90px;
    text-shadow: -2px -2px #431C76;
}

.game-text {
    font-family: 'Games', sans-serif;
    color: #080942;
    font-size: 40px;
    text-shadow: -1px -1px #431C76;
}

.logo {
    font-size: 40px;
    color: #080942;
}

.icons {
    font-size: 40px;
    color: #080942;
}

.settings-icons {
    font-size: 80px;
    color: #080942;
}

.settings-title {
    font-size: 25px;
    color: #080942;
}

.result {
    font-size: 20px;
    color: #431C76;
}

#canvas {
    background-color: #7e6895;
    border: 2px solid #431C76;
    border-radius: 10px;
}

#stats {
    position: absolute
}

.empty {
    width: 100%;
    height: 3vh;
}

.play {
    width: 50%;
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    background-color: #A282BF;
    text-shadow: -1px -1px #431C76, 1px 1px white;
    color: #080942;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em #080942;
    cursor: pointer;
    font-size: 3vh;

}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: red;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}


#soundCheckbox:checked+.checkbox-label {
    background-color: green;
}

#themeCheckbox:checked+.checkbox-label {
    background-color: green;
}

.dark {
    background-color: #080942;

    .title {
        color: #A282BF;
        text-shadow: -2px -2px white;
    }

    .logo {
        color: #A282BF;
    }

    .icons {
        color: #A282BF;
    }

    header {
        border-bottom: 5px solid #A282BF;
    }

    .play {
        background-color: #A282BF;
        text-shadow: -1px -1px #431C76, 1px 1px white;
        color: #080942;
        box-shadow: 0 .2em #431C76;

    }

    .game-text {
        color: #A282BF;
        text-shadow: -1px -1px white;
    }

}


@media screen and (min-width: 0px) and (min-height: 0px) {


    #upcoming {
        width: 50px;
        height: 50px;
    }

    #canvas {
        width: 100px;
        height: 200px;
    }
}

/* 10px chunks */
@media screen and (min-width: 400px) and (min-height: 400px) {
    #upcoming {
        width: 75px;
        height: 75px;
    }

    #canvas {
        width: 150px;
        height: 300px;
    }
}

/* 15px chunks */
@media screen and (min-width: 500px) and (min-height: 500px) {
    #upcoming {
        width: 100px;
        height: 100px;
    }

    #canvas {
        width: 200px;
        height: 400px;
    }
}

/* 20px chunks */
@media screen and (min-width: 600px) and (min-height: 600px) {
    #upcoming {
        width: 125px;
        height: 125px;
    }

    #canvas {
        width: 250px;
        height: 500px;
    }
}

/* 25px chunks */
@media screen and (min-width: 700px) and (min-height: 700px) {
    #upcoming {
        width: 150px;
        height: 150px;
    }

    #canvas {
        width: 300px;
        height: 600px;
    }
}

/* 30px chunks */
@media screen and (min-width: 800px) and (min-height: 800px) {
    #upcoming {
        width: 175px;
        height: 175px;
    }

    #canvas {
        width: 350px;
        height: 700px;
    }
}

/* 35px chunks */
@media screen and (min-width: 900px) and (min-height: 900px) {
    #upcoming {
        width: 200px;
        height: 200px;
    }

    #canvas {
        width: 400px;
        height: 800px;
    }
}