@import url('https://fonts.cdnfonts.com/css/games');

body {
    background-color: #ddc8ea;
}

h1 {
    font-family: 'Games', sans-serif;
}
 header{
    border-bottom: 5px solid #080942;
 }

.title {
    font-family: 'Games', sans-serif;
    color: #080942;
    font-size: 90px;
    text-shadow: -2px -2px #431C76;
}

.game-text{
    font-family: 'Games', sans-serif;
    color: #080942;
    font-size: 40px;
    text-shadow: -1px -1px #431C76;
}

.logo {
    font-size: 40px;
    color: #080942;
}

.icons {
    font-size: 40px;
    color: #080942;
}

.settings-icons{
    font-size: 80px;
    color: #080942;
}

.settings-title{
    font-size: 25px;
    color: #080942;
}



#game {
    border-spacing: 0px;
    border-collapse: collapse;
    border: 2px solid #000040;
    user-select: none;
}


.play {
    width: 50%;
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    background-color: #A282BF;
    text-shadow: -1px -1px #431C76, 1px 1px white;
    color: #080942;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em #080942;
    cursor: pointer;
    font-size: 3vh;

}

.solution {
    background-color: #A282BF;
    cursor: pointer;
    border-radius: 7px;
    width: 50px;
    height: 50px; 
    background-image: url('../images/solution.png');
    background-size: cover;
    background-position: center;

}


td,
th {
    width: 50px;
    height: 50px;
    padding: 4px;
    line-height: 1.5;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;

    &:nth-child(20n + 1) {
        border-right: 3px solid #000040;
    }
}

tr {
    &:nth-child(20n + 1) {

        td,
        th {
            border-bottom: 3px solid #000040;
        }
    }
}

th {
    background-color: #eee;
    font-family: 'Ubuntu Mono', monospace;
    border: 3px solid #000040;

    &.highlight {
        background-color: #ccc;
    }
}

td {
    border-top: 3px dotted #000040;
    border-left: 3px dotted #000040;

    &:hover {
        opacity: 0.85;
        background-color: #f3f3f3;
    }

    &.on {
        background-color: #221C69;
    }

    &.off {
        background-color: #7069b9;
    }
}




.input-container input {
    width: 50px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}


.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: red;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}


#soundCheckbox:checked+.checkbox-label {
    background-color: green;
}

#themeCheckbox:checked+.checkbox-label {
    background-color: green;
}

body.dark {
    background-color: #3e3d40;
}