@import url('https://fonts.cdnfonts.com/css/games');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.header {
    margin-top: 0.5%;
    border-bottom: 3px solid #3e3d40;
}

body {
    background-color: #adb5bd;
}

* {
    box-sizing: border-box;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: red;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}


#soundCheckbox:checked+.checkbox-label {
    background-color: green;
}

#themeCheckbox:checked+.checkbox-label {
    background-color: green;
}



.title {
    font-family: 'Games', sans-serif;
    color: #3e3d40;
    font-size: 80px;
}

.logo {
    width: 50px;
    height: 30px;
}

.icons {
    width: 30px;
    height: 30px;
}

.games {
    height: 170px;
    width: 170px;
    border: 2px solid black;
}

.grid {
    padding: 30px;
}

.cell {
    padding: 10px;
}

.container {
    margin-top: 20px;
}

#grid {
    height: 100vh;
    transition: 500ms;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
    background: #3e3d40;
}

:where(.left-center, .center, .center-center, .right-center, .right) {
    width: 100%;
    height: 100%;
    background: #adb5bd;
    transition: 300ms;
}
:where(.left){
    background-image: url(../images/tic_tac_toe.png);
    background-repeat: no-repeat;
}

:where(.left, .left-center, .center, .center-center, .right-center, .right):hover {
    width: 100%;
    height: 100%;
}

#grid:has(.left:hover) {
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    background-image: url(../images/tic_tac_toe.png);
    background-repeat: no-repeat;
    
}

#grid:has(.left-center:hover) {
    grid-template-columns: 0.5fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
}


#grid:has(.center:hover) {
    grid-template-columns: 0.5fr 0.5fr 2fr 0.5fr 0.5fr 0.5fr;
}


#grid:has(.center-center:hover) {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 2fr 0.5fr 0.5fr;
}

#grid:has(.right-center:hover) {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 2fr 0.5fr;
}


#grid:has(.right:hover) {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 2fr;
}


body.dark {
    background-color: #3e3d40;
}