@import url('https://fonts.cdnfonts.com/css/games');

.header {
    border-bottom: 3px solid #3e3d40;
}

body {
    background-color: #AEBBB7;
    width: 100%;
}
header{
    border-bottom: 5px solid #000040;
 }


* {
    box-sizing: border-box;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: red;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}


#soundCheckbox:checked+.checkbox-label {
    background-color: green;
}

#themeCheckbox:checked+.checkbox-label {
    background-color: green;
}



.title {
    font-family: 'Games', sans-serif;
    color: #000040;
    font-size: 90px;
}

.logo {
    font-size: 40px;
    color: #000040;
}

.icons {
    font-size: 40px;
    color: #000040;
}

.settings-icons{
    font-size: 80px;
    color: #000040;
}

.settings-title{
    font-size: 25px;
    color: #000040;
}

.play {
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    background-color: #adb5bd;
    text-shadow: -1px -1px black, 1px 1px white;
    color: #3e3d40;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em #3e3d40;
    cursor: pointer;
    font-size: 3vh;

}

.grid {
    padding: 30px;
}

.cell {
    padding: 10px;
}

.container {
    margin-top: 20px;
}

#grid {
    height: 100vh;
    transition: 500ms;
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    background: #000040;
    border-top: 4px solid #000040;
    gap: 2px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #D7D0C5;
    color: #000040;
    padding: 10px 20px;
    font-size: 25px;
    text-align: center;
}

:where(.left, .left-center, .right-center, .right) {
    width: 99%;
    height: 100%;
    background: #adb5bd;
    transition: 300ms;
}

.left {
    background-image: url(../images/tic_tac_toe_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: brightness(0.5);
}

.left-center {
    background-image: url(../images/nonograms_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: brightness(0.5);
}

.right-center {
    background-image: url(../images/tetris_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: brightness(0.5);
}

.right {
    background-image: url(../images/2048_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: brightness(0.5);
}

.left:hover {
    filter: brightness(0.8);
}

.left-center:hover {
    filter: brightness(0.8);
}

.right-center:hover {
    filter: brightness(0.8);
}

.right:hover {
    filter: brightness(0.8);
}

:where(.left, .left-center, .right-center, .right):hover {
    width: 99%;
    height: 100%;
}

#grid:has(.left:hover) {
    grid-template-columns: 46fr 18fr 18fr 18fr;
}

#grid:has(.left-center:hover) {
    grid-template-columns: 18fr 46fr 18fr 18fr;
}


#grid:has(.right-center:hover) {
    grid-template-columns: 18fr 18fr 46fr 18fr;
}


#grid:has(.right:hover) {
    grid-template-columns: 18fr 18fr 18fr 46fr;
}


body.dark {
    background-color: #3e3d40;
}