body {
    background-color: #adb5bd;
}

h1 {
    font-family: 'Games', sans-serif;

}

.logo {
    width: 50px;
    height: 30px;
}

.icons {
    width: 30px;
    height: 30px;
}

.play {
    width: 50%;
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    background-color: #adb5bd;
    text-shadow: -1px -1px black, 1px 1px white;
    color: #3e3d40;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em #3e3d40;
    cursor: pointer;
    font-size: 3vh;

}


.grid {
    display: flex;
    flex-wrap: wrap;
    width: 469px;
    height: 469px;
    background-color: #3e3d40;
    border: 7px solid #3e3d40;
    border-radius: 6px;
    margin-top: 20px;
}

.grid div {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: #adb5bd;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    line-height: 1.6;
}

.score-container {
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    background-color: #3e3d40;
    color: #FFFFFF;
}

#score {
    font-size: 30px;
}

.score-title {
    font-size: 16px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: red;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}


#soundCheckbox:checked+.checkbox-label {
    background-color: green;
}

#themeCheckbox:checked+.checkbox-label {
    background-color: green;
}

body.dark {
    background-color: #3e3d40;
}