@import url('https://fonts.cdnfonts.com/css/games');

body {
    background-image: url('../images/bg_img1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    width: 100%;
    background-color: #adb5bd;
}

.play {
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    background-color: #adb5bd;
    text-shadow: -1px -1px black, 1px 1px white;
    color: #3e3d40;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em #3e3d40;
    cursor: pointer;
    font-size: 30px;

}